<div class="card" *ngIf="product">
  <div class="card-header">
    {{pageTitle + ' : ' + product.productName}}
  </div>
  <div class="card-body">
    <div>Product : {{ product.productName}}</div>
    <div>Code : {{ product.productCode}}</div>
    <div>Available : {{ product.releaseDate}}</div>
    <div>Price : {{ product.price | currency}}</div>
    <div>5 Star Rating : <app-star [rating]='product.starRating'></app-star></div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)='onBack()'>
      <i class="fa fa-arrow-left"></i>
      Back
    </button>
  </div>

</div>
